In [19]:
import pandas as pd
data = pd.read_csv('movement-speeds-quarterly-by-hod-madrid-2020-Q1.csv', usecols=['osm_start_node_id', 'osm_end_node_id', 'speed_kph_mean'])

In [20]:
mean = data.groupby(['osm_start_node_id','osm_end_node_id']).mean()

In [21]:
mean

                                   speed_kph_mean
osm_start_node_id osm_end_node_id
171946            26513145              33.752792
171951            26486636              43.359792
                  1209331009            27.561000
171952            26486617              52.224500
171953            329987524             53.180542
...                                           ...
6566264911        6566264914            15.747111
6566264914        411629366             34.901792
6567713918        188675506             50.982524
6567963459        211639674             25.039273
6570360997        306457792             21.777600

[73161 rows x 1 columns]

In [12]:
edgelist = pd.read_csv('Madrid.edgelist', sep='\s+', header=None, names=['osm_start_node_id','osm_end_node_id'])

In [13]:
edgelist.set_index(["osm_start_node_id","osm_end_node_id"] , inplace=True)

In [14]:
edgelist

Empty DataFrame
Columns: []
Index: [(171946, 26513145), (171948, 1209331142), (171951, 1209331009), (171951, 991794380), (171952, 26486617), (171953, 2681222064), (171953, 3166517084), (171954, 8147262594), (171954, 1727199789), (171959, 26501641), (20952874, 1168641427), (20952875, 20952899), (20952878, 21282014), (20952879, 21282013), (20952881, 2536930848), (20952883, 4344504211), (20952888, 4570051419), (20952888, 2536930893), (20952890, 21068371), (20952890, 318256233), (20952891, 4920159637), (20952892, 4920159639), (20952893, 4570051418), (20952893, 4570051417), (20952895, 6557110274), (20952896, 2536930811), (20952897, 21282016), (20952898, 20952878), (20952899, 2536930890), (20952900, 1168639952), (20952901, 6557110270), (20952902, 3646403370), (20952903, 3646403371), (20952904, 6557132891), (20952905, 7689278074), (20952907, 20952941), (20952908, 5205117155), (20952909, 2536930762), (20952910, 3915532202), (20952911, 3915532200), (20952912, 21472721), (20952912, 1228619813), (20952913, 3915532212), (20952914, 2424952617), (20952914, 2424952617), (20952915, 3915532210), (20952915, 3915532210), (20952916, 1168639560), (20952916, 1168639560), (20952917, 1168640473), (20952918, 20952917), (20952920, 8241212877), (20952921, 5054488969), (20952923, 5022821177), (20952923, 5022793352), (20952923, 1606425744), (20952925, 4214481509), (20952926, 5022446957), (20952926, 3915532204), (20952927, 5054499535), (20952927, 1598909546), (20952927, 5046860733), (20952929, 5069601633), (20952929, 3915532195), (20952930, 5069601634), (20952931, 20952934), (20952934, 1046902624), (20952935, 7689278077), (20952936, 7570532316), (20952937, 5113549384), (20952938, 1833057970), (20952940, 6557110272), (20952941, 2065650377), (20952942, 20952947), (20952942, 4574893416), (20952943, 4214481492), (20952943, 4214481494), (20952943, 4214481490), (20952944, 3915532219), (20952947, 5205117156), (20952948, 4214481504), (20952948, 4214481503), (20952948, 4214481502), (20952948, 8241212869), (20952949, 3834829125), (20953195, 1339844520), (20953196, 1339844565), (20953197, 1436227799), (20953197, 1339844739), (20953215, 571633291), (20953217, 849583468), (20953217, 8430162603), (20953217, 1095664414), (20953221, 26080653), (20953223, 1339844668), (20953226, 2472773299), (20953226, 1522690080), (20953226, 2472773305), (20953234, 3436809574), (20953234, 2506478057), ...]

[190869 rows x 0 columns]

In [22]:
result = pd.concat([mean, edgelist], axis=1, join="inner")
result

ValueError: cannot handle a non-unique multi-index!

In [9]:
mean.reset_index(inplace=True)
mean.set_index(["osm_start_node_id"] , inplace=True)
mean

                   osm_end_node_id  speed_mph_mean
osm_start_node_id
78112                     25508583       27.816833
78112                     25508584       27.395706
99936                   2146383887       12.323000
99936                   4544836433        9.903944
99937                       200047        5.141882
...                            ...             ...
6577730921               254761207       19.238917
6577730921              6577730928       12.295000
6577730928                 2379175        8.251545
6577745911                36728211       28.414000
6577745911              5930672687       29.545875

[313095 rows x 2 columns]

In [11]:
del edgelist_start['osm_end_node_id']
edgelist_start

Empty DataFrame
Columns: []
Index: [535278, 535278, 535278, 535279, 535279, 535279, 535281, 535281, 535282, 535282, 535283, 535283, 535284, 535285, 535285, 536590, 536590, 536591, 536591, 536593, 536593, 536593, 536596, 536596, 536597, 536597, 536601, 536601, 536603, 536603, 536607, 536611, 536611, 536612, 536612, 536613, 536614, 536614, 536615, 536616, 536616, 536617, 536617, 536618, 536618, 536619, 536620, 536620, 536621, 536625, 536625, 536626, 536626, 536627, 536627, 536628, 536628, 536629, 536629, 536630, 536637, 536637, 536644, 536645, 536645, 536645, 536646, 536647, 536647, 539938, 539938, 539939, 539939, 539939, 539940, 539940, 539943, 539943, 539943, 539943, 539948, 539949, 539949, 539950, 539951, 539951, 539952, 539952, 539953, 539954, 539954, 539955, 539955, 539957, 539957, 539958, 539958, 539959, 539960, 539961, ...]

[51829 rows x 0 columns]

In [24]:
result = pd.merge(mean, edgelist, how='inner', on=['osm_start_node_id','osm_end_node_id'])
result

                                   speed_kph_mean
osm_start_node_id osm_end_node_id
171946            26513145              33.752792
171951            1209331009            27.561000
171952            26486617              52.224500
171954            1727199789            55.026292
20952888          4570051419            25.229125
...                                           ...
6484517745        4253199080            38.307833
                  6484517744            36.520200
6491560371        6491560378            23.797250
6491574471        255883304             40.076500
6505483446        26486634              17.488364

[14076 rows x 1 columns]